.schedule-item {
    background-color: var(--color-light);
    margin-bottom: 10px;
}

.schedule-item-wrapper {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.schedule-item-progress {
    height: 5px;
    background-color: var(--color-light);
}

.schedule-item-progress-bar {
    height: 5px;
    background-color: var(--color-highlight);
}

.schedule-title {
    color: var(--color-text-dark);
}

.schedule-data {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.schedule-star {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    font-size: 30px;
}

.schedule-star.star {
    color: #E9DE4F;
    opacity: 0.9;
}

.schedule-star:hover {
    font-size: 35px;
}

.schedule-author {
    margin-top: 10px;
    display: block;
    text-align: center;
}
