* {
    box-sizing: border-box;
}

.schedule-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.talks {
    overflow-y: auto;
}

.search-box {
    display: grid;
    grid-template-columns: 1fr 40px;
}

.search-box input {
    height: 40px;
    font-weight: bold;
    text-align: center;
    flex-grow: 3;
}

.search-box .search-clear {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--color-accent-contrast);
}
