:root {
    --title-height: 48px;
    --panel-item-height: 48px;
    --panel-header-height: 140px;

    --color-bg: #e4d2d6;
    --color-light: #C3E6EC;
    --color-mid: #ad7986;
    --color-dark: #652938;
    --color-highlight: #84ADAF;
    --color-danger: #C54343;

    --color-text-dark: #10242F;
    --color-text-light: white;

    --color-accent: #652938;
    --color-accent-contrast: white;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: var(--color-highlight);
    color: #fff;
}
#loader i {
    font-size: 70px;
}
#loader.off {
    z-index: -1;
}
#loader > .loader-body {
    text-align: center;
    font-weight: bold;
}
#loader.message {
}

.container {
    height: 100vh;
    background-color: var(--color-bg);
}

.title-bar {
    height: var(--title-height);
    background-color: var(--color-dark);
    display: flex;
    color: var(--color-text-light);
    line-height: var(--title-height);
}

.title-left-action {
    width: var(--title-height);
    height: var(--title-height);
    background-color: var(--color-mid);
    color: var(--color-text-light);
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.title-title {
    padding-left: 10px;
    font-weight: bold;
}

.title-hour {
    font-weight: bold;
    margin-left: auto;
    padding-right: 10px;
}

.main-content {
    height: calc(100vh - var(--title-height));
    background-color: var(--color-bg);
}

.btn-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 80%;
    background-color: var(--color-mid);
    border: none;
    color: var(--color-text-light);
/*  border-right: 5px solid var(--color-highlight);
    border-bottom: 5px solid var(--color-highlight); */
    box-shadow: 5px 5px teal;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
}

.btn:active {
    box-shadow: none;
}

#overlay {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #000;
    opacity: 0.5;
    cursor: pointer;
}
#overlay.off {
    z-index: -1;
}

#left-panel {
    height: 100vh;
    width: 80vw;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: var(--color-bg);
    z-index: 20;
}
#left-panel.off {
    left: -80vw;
}

.panel-header {
    height: var(--panel-header-height);
    background-color: var(--color-dark);
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.panel-body {
    height: calc(100vh - var(--panel-header-height));
    overflow-y: auto;
}

.panel-item-title {
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    color: var(--color-text-dark);
}
.panel-item {
    height: var(--panel-item-height);
    line-height: var(--panel-item-height);
    font-size: 18px;
    border-left: 5px solid var(--color-highlight);
    background-color: var(--color-dark);
    margin-top: 5px;
}
.panel-item a {
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color: var(--color-text-light);
}

.beta {
    color: var(--color-danger);
    font-style: italic;
}

.talk-title {
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.talk-right {
    text-align: right;
    padding-right: 10px;
}
.talk-center {
    text-align: center;
}
.talk-summary {
    padding: 10px;
}
